extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title



  div(class='stories')
    a(class="btn-add-story" href='/stories/new' role='button') Add story
  table(class='stories-table')
    thead(class='thead')
      tr
        th(scope='col') Story title
        th(scope='col') Subtitle
        th(scope='col') Topic
        th(scope='col') Body
        th(scope='col') Authors
    tbody
      each story in stories
        tr
          td= story.title
            a(href=`/stories/edit/${story.id}` class='redirect')
          td= story.subTitle
          td= story.Topic.name
          td= story.body
          td= story.User.firstName
