extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title

  a(class="btn-add-story" href='/stories/new' role='button') Add story
  div(class='stories')

      each story in stories

          div(class='title')
            a(class="btn-add-story" href=`/stories/${story.id}` role='button')
              h2= story.title
          div(class='subtitle')
              h3= story.subtitle
          div(class='topic')
              h4= story.Topic.name
              h5= story.User.firstName
              h5= story.User.lastName
          div(class='body')
              p= story.body
