extends layout.pug
block content
  h3.mainTitle=title

  div.bodyContainer
    div(class='stories')
      each story in stories
        div.storyContainer
          div.storyInfo
            div(class="storyAndSub")
              div(class='title')
                a(class="btn-add-story" href=`/stories/${story.id}` role='button')
                  h2.storyTitle= story.title
              div(class='subTitle')
                h3.subtitle= story.subtitle
            div(class='topic')
              div(class="topicName")
                h4.topics= story.Topic.name
              div(class="nameContainer")
                div(id="firstName")
                  h5.firstName= story.User.firstName
                div(id="lastName")
                  h5.lastName= story.User.lastName
                div(id="date")
                  h5.date= story.createdAt.toDateString()
          div(class='storyBody' id="storyBody")
              p= story.body
                hr
