extends layout.pug
block content
  h3.mainTitle=title

  div.bodyContainer
    a(class="btn-add-story btnAddStory" href='/stories/new' role='button') Add a story
    div(class='stories')
      each story in stories
        div.storyContainer
          div.storyInfo
            div(class="storyAndSub")
              div(class='title')
                a(class="btn-add-story" href=`/stories/${story.id}` role='button')
                  h2.storyTitle= story.title
              div(class='subTitle')
                  h3.subtitle= story.subtitle
            div(class='topic')
                h4.topics= story.Topic.name
                  div(class="nameContainer")
                    h5.firstName= story.User.firstName
                    h5.lastName= story.User.lastName
                h5.date= story.createdAt.toDateString()
          div(class='storyBody')
              p= story.body
