extends layout.pug


block content
  form(action='/users/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    div(class='user-input firstName')
      label(for='firstName') First name 
      input(type='text' id='FirstName' name='firstName' value=user.firstName)
    div(class='user-input lastName')
      label(for='lastName') Last name
      input(type='text' id='LastName' name='lastName' value=user.lastName)
    div(class='user-input password')
      label(for='email') Email 
      input(type='text' id='Email' name='email' value=user.email)
    div(class='user-input password')
      label(for='password') Password
      input(type='text' id='Password' name='password' value=user.password class='password')
    div(class='user-input passwordConfrimed')
      label(for='confrimPassword') Comfrim password
      input(type='text' id='ConfrimPassword' name='confrimPassword' value='' class='password')
    div(class='py-4')
      button(type='submit' class='btn btn-primary') Signup
      a(href='/' class='btn btn-warning ml-2') Cancel
  div
    p: a(href='/users/login' class="message") Already have an account?
