extends layout.pug


block content
  div.editPageContainer
  form(action=`/stories/edit/${story.id}` method='post')
    div.editTitle
      input(type='hidden' name='_csrf' value=csrfToken)
      label(for='title') Title
      input(type='text' name='title' value=story.title class='editedTitle' required)
    div.editSubTitle
      label(for='subtitle') Subtitle
      input(type='text' name='subtitle' value=story.subtitle class='editedSubtitle' required)
    div.editText
      label(for="body") Body
      textarea(name="body" value=story.body class='editedBody' required) #{story.body}
    div.editTopic
      select(name="topic" required)
        label(for="topic") Topic
          each topic in topics
              option(value=topic.id)= topic.name
    div(class='editor')
        button(type='submit' class='updateBtn' id="updBtn") Update Story
        a(href=`/stories/${story.id}` class='cancelEdit' id="cclBtn") Cancel
